In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('HateSpeechDataset.csv')

In [4]:
df

          version https://git-lfs.github.com/spec/v1
0  oid sha256:c629107d6feff86f172e4aea71d513c6112...
1                                     size 201550490